 @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Libre+Baskerville:wght@700&family=Poppins:wght@400;500;700;800&family=Roboto:wght@300&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
 }
 body {
    font-family: 'Popins', sans-serif;
    background-color: #1B1726;
 }

 img {
    max-width: 100%;
 }

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #aeff2c;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    font-weight: 600;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #aeff2c;

}

#menu {
    display:none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor:pointer;
    display: none;
}

.header-content {
    display:flex;

}

.header-text {
    flex-basis: 50%;
}

.header-text h1 {
    font-size: 60px;
    color: #ffffff;
    line-height: 1.3;
    margin-bottom: 25px;
}

.header-text span{
    color: #aeff2c;
}

.header-text p {
    font-size: 20px;
    color: #aeff2c;
    margin-bottom: 45px;
    font-weight: bold;
    background-color: #3f3456;
    text-align: center;
}

.butons {
    display: flex;
}

.btn-1, .btn-2, .btn-3 {
    display: inline-block;
    padding: 11px 35px;
    border: 2px solid #aeff2c;
    border-radius: 25px;
    margin-right: 25px;
    font-size: 17px;
    color: #ffffff;
}

.btn-1:hover {
    background-color: #aeff2c;
}

.popular {
    padding: 100px 0;
    text-align: center;
}

h2 {
   color:#ffffff;
   font-size: 35px;
   margin-bottom: 45px;
}

.popular-content {
    display: flex;
    justify-content: space-between;
}

.popular-content img {
    width: 150px;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    
}

.product-1 {
    background-color: #2a223a;
}

.product-txt {
    padding: 50px 30px;
}

h3 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p {
    font-size: 17px;
    color: #aeff2c;
}

.btn-2 {
    padding: 5px 25px;
    background-color: #aeff2c;
    margin-right: 0;
}

.contact {
    padding: 150px 300px;

}

.contact-content {
    background-color: #2a223a;
    text-align: center;
    padding: 50px;
    border-radius: 50px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

input {
    padding: 18px 25px;
    background-color: #3f3456;
    border: 0;
    border-radius: 25px;
    outline: none;
    margin-right: 10px;
    color:#ffffff;
    font-size: 17px;   
}

::placeholder {
    color: #E0E0E0;
    font-size: 17px;
}

.btn-3 {
    background-color: #aeff2c;
    cursor: pointer;
    margin-right: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.link ul {
    display: flex;

}

.link ul li > a {
    font-size: 17px;
    color: #ffffff;
    margin-right: 20px;
}

.link ul li > a:hover {
    color:#aeff2c;
}

.copyright {
    color: #aeff2c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:991px) {
    .menu {
        padding: 20px;
    }
    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #aeff2c;
        display: none;
    }
    .menu .navbar ul li a:hover {
        color: #1B1726;
    }
    .menu .navbar li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
 
    .header {
      min-width: 0vh;
      padding: 80px 30px 50px 30px;
    }

    .header-text {
        text-align: center;
        flex-basis: 100%;
    }

    .header-text h1 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .butons {
        justify-content: center;
    }

    .btn-1:last-of-type {
        margin-right: 0;
    }
  
    .popular {
        display: none;
    }

    .product {
        padding: 30px;
    }
    
    .product-content {
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }

    .product-1 img {
        width: 100%;
    }

    .contact {
        padding: 30px;
    }

    form {
        flex-direction: column;
    }

    input {
        margin: 0 0 20px 0;
    }
  
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .link ul {
        margin-top: 20px;
    }

    .copyright {
        display: flex;
        margin-top: 20px;
        justify-content: center;
    }

}

